<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Restart Network</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style_admin.css">

<style>
    body    { padding-top:30px; }
</style>