<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>
  <body>
<header>
    <% include ./partials/header %>
</header>

    <div class="container_shahriar">
        </div>
        <%- messages('messages', locals) %>
      <form method="POST" action="/rfid" id="contact" class="form">
        <h4>RFID Reader</h4>
        <hr />

          <div class="form__group">
              <input type="text" name="rfid"  class="form__input" autofocus/>
          </div>
          <button class="btn">Submit</button>
      </form>


    </div>
    <footer>
      <% include ./partials/footer %>
    </footer>
