
  <head>
      <% include ./partials/head %>
  </head>
  <body>
   <header>
     <link rel="stylesheet" href="./css/editstud.css">
     <link href="/css/students.css" rel="stylesheet" type="text/css">
     <link href="css/records.css" rel="stylesheet" type="text/css">
       <% include ./partials/header %>
   </header>
   <div class="container">
   <div class="wrapper">
    <table class="table table-hover" id="acrylic">
      <thead>
       <tr >
         <th > Choose Bootcamp </th>
         <th> Started Date </th>
       </tr>
     </thead>
     <tbody>
       <%
       for(i=0 ; i < result_bootcamps.length ; i++)
       { var date = result_bootcamps[i].start_date;
        %>
       <tr>
           <td> <a style="text-decoration:none" href="/seestuds/stu/<%= result_bootcamps[i].bootcamp_id %>">
            <span class="link"> <strong class="black"> <%= result_bootcamps[i].bootcamp_name %></strong> </span> </a></td>
           <td></td>

            <% } %>
       </tr>

      </tbody>
    </table>
      </div>
    </div>


  </body>
  <script>
function myFunction() {
var input, filter, table, tr, td, i;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("acrylic");
tr = table.getElementsByTagName("tr");

// Loop through all table rows, and hide those who don't match the search query
for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td")[0];
if (td) {
  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
  } else {
    tr[i].style.display = "none";
  }
}
}
}
</script>
  <footer>
    <% include ./partials/footer %>
  </footer>
